*.log
*.pyc
__pycache__/
.idea/
.vs/

# Secrets
.env
.env.example

# CacheData
/Ressources/AlertDatabase
/Ressources/Manifest
dump_weekly.json
dump_weekly.py
Smoke lot1.py
Ressources/Manifest/bungie_tokens.json