*.log
*.idea
*.pyc
.vs/
Temp/

Ressources/Results/
Ressources/token.json

Ressources/AlertDatabase
Output/
Sources/Bot/CurrentWeeklyActivities/api/ApiKey.py
/Sources/Bot/CurrentWeeklyActivities/data/definitions/DestinyActivityDefinition.json
/Sources/Bot/CurrentWeeklyActivities/data/definitions/DestinyActivityGraphDefinition.json
/Sources/Bot/CurrentWeeklyActivities/data/definitions/DestinyActivityInteractableDefinition.json
/Sources/Bot/CurrentWeeklyActivities/data/definitions/DestinyActivityModifierDefinition.json
/Sources/Bot/CurrentWeeklyActivities/data/definitions/DestinyDestinationDefinition.json
/Sources/Bot/CurrentWeeklyActivities/data/definitions/DestinyInventoryItemDefinition.json
/Sources/Bot/CurrentWeeklyActivities/data/definitions/DestinyPlaceDefinition.json
/Sources/Bot/CurrentWeeklyActivities/data/activities/Dungeons.json
/Sources/Bot/CurrentWeeklyActivities/data/activities/ExoticMissions.json
/Sources/Bot/CurrentWeeklyActivities/data/activities/LostSectors.json
/Sources/Bot/CurrentWeeklyActivities/data/activities/PinnacleOps.json
/Sources/Bot/CurrentWeeklyActivities/data/activities/Raids.json
/Sources/Bot/CurrentWeeklyActivities/data/activities/SoloOps.json
Sources/Bot/CurrentWeeklyActivities/data/definitions/DestinyEquipableItemSetDefinition.json
Sources/Bot/CurrentWeeklyActivities/data/definitions/DestinySandboxPerkDefinition.json
Sources/Bot/CurrentWeeklyActivities/data/activities/CharacterActivities.json
