@font-face {
    font-family: 'Neue Haas Display Black';
    src: url('fonts/NeueHaasDisplayBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Display Light';
    src: url('fonts/NeueHaasDisplayXThin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Display Medium';
    src: url('fonts/NeueHaasDisplayMediu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Classes pour les animations */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInRight {
  animation-name: fadeInRight;
}

.delay-1 {
  animation-delay: 0s;
}

.delay-2 {
  animation-delay: 0.5s;
}

.delay-3 {
  animation-delay: 1s;
}

html, body {
    height: 100%;
    margin: 0;
}

.background {
    position: relative;
    width: 100%;
    height: 100%;
}

.background-image {
    position: absolute;
    top: -20%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(11,14,15,0.7) 50%, rgba(11,14,15,1) 60%, rgba(11,14,15,1) 100%);
}

.top-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    color: white;
    padding: 50px 50px 20px 50px;
    display: inline-block;
    animation: fadeInRight 1s ease-in-out forwards;
}

.background-image-container {
    position: absolute;
    top: 0;
    left: 55px;
    width: 280px;
    opacity: 0.2;
    z-index: -1;
}

.toptitle-background-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.activity-type {
    font-family: 'Neue Haas Display Light', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 6px;
}

.activity-name {
    margin: 0;
    padding:10px 0;
    border-top: 1px solid white;
    font-family: 'Neue Haas Display Black', sans-serif;
    font-size: 4rem;
    font-weight: bold;
}

.activity-description {
    font-family: 'Neue Haas Display Light', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0px 0;
    letter-spacing: 4px;
}

@keyframes slideInLeftFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.reward-section {
    position: absolute;
    top: 55px;
    right: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 15px;
    width: fit-content;
    opacity: 0;
    animation: slideInLeftFadeIn 1s ease-in-out forwards 1.5s;
}

.reward-title {
    color: white;
    font-family: 'Neue Haas Display Black', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.reward-list {
    display: flex;
    align-items: center;
}

.reward-list img {
    margin-right: 10px;
    width: 62px;
    height: 62px;
    object-fit: cover;
}

.reward-list span {
    white-space: wrap;
    margin-right: 10px;
    font-family: 'Neue Haas Display Black', sans-serif;
    font-weight: bold;
    color: white;
}

.reward-list .small-text {
    font-size: 0.75em;
    color: rgb(181, 181, 181);
}

.power-level {
    background-color: rgb(29, 29, 30);
    color: rgb(150, 151, 151);
    display: inline-flex;
    padding: 10px 15px;
    align-items: center;
}
.power-level .level-text {
    color: rgb(150, 151, 151);
    margin-right: 50px;
    font-family: 'Neue Haas Display Medium', sans-serif;
}
.power-level .level-value {
    display: flex;
    font-family: 'Neue Haas Display Medium', sans-serif;
    letter-spacing: 1.5px;
    align-items: center;
    color: rgba(227, 202, 75, 1);
}
.power-level .level-value .icon {
    width: 30px;
    height: 30px;
    margin-top: -5px;
    margin-bottom: -5px;
    filter: brightness(0) saturate(100%) invert(98%) sepia(88%) saturate(1121%) hue-rotate(332deg) brightness(91%) contrast(95%);
    clip-path: polygon(30% 30%, 72% 30%, 72% 72%, 30% 72%);
}

.lostSector-info-container {
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}

.lostSector-info {
    font-family: Arial, sans-serif;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.shield-champion-section {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ffffff;
}
.shield-champion-top-title {
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.shield-champion-top-title h2 {
    margin: 0;
}
.shield-champion-column {
    flex: 1;
}
.column-title {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}
.info-shield-champ-container {
    flex-direction: column;
}
.info-shield-champ {
    display: inline-flex;
    align-items: center;
    margin: 5px;
}
.info-shield-champ img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
.count {
    font-size: 1.5rem;
    margin-right: 10px;
    font-weight: bold;
}
.solar {
    color: #f0631e;
}
.void {
    color: #b185df;
}
.arc {
    color: #7aecf3;
}
.power-level {
    display: flex;
    align-items: center;
}
.level-text {
    margin-right: 10px;
}
.level-value {
    display: flex;
    align-items: center;
}
.level-value .icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
.modifier-section {
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.modifier {
    display: flex;
    align-items: center;
}
.modifier-icon {
    margin-right: 10px;
    align-self: flex-start;
}
.modifier-icon img {
    width: 35px;
    height: 35px;
}
.modifier-text {
    font-size: 16px;
    flex-grow: 1;
    align-self: flex-start;
}
.modifier-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.modifier-detail {
    color: #969797;
}
.champion-icon-txt {
    height: 15px;
    width: 15px;
}