body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #000;
}

.body {
    position: relative;
    width: 1920px;
    height: 1080px;
    background: url('Resources/Prisma/Titan_BG.png') no-repeat center center;
    background-size: cover;
}

.top-div, .trans-div, .aspect-div, .competance-div, .canvas {
    position: absolute;
}

.top-div {
    left: 30px;
    top: 30px;
    width: 1013.347px;
    height: 250px;
}

.logo-classe {
    width: 250px;
    height: 250px;
}

.text-block {
    position: absolute;
    color: white;
    font-size: 72px;
}

.text-block.subtitle {
    font-size: 36px;
    color: gainsboro;
}

.trans-div {
    left: 759.347px;
    top: 389.338px;
    width: 219px;
    height: 149.834px;
}

.aspect-div {
    left: 759.347px;
    top: 591.671px;
    width: 219px;
    height: 185.834px;
}

.competance-div {
    left: 499px;
    top: 814.166px;
    width: 479.347px;
    height: 185.834px;
}

.path {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    top: 30.501px;
}

.fond-transcendance, .fond-aspects, .fond-competances {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: black;
    opacity: 0.25;
}

.border {
    position: absolute;
    border: 2px solid rgba(255, 255, 255, 0.25);
    width: 100px;
    height: 100px;
}

.image {
    width: 100%;
    height: 100%;
}

.petitcarre {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    opacity: 0.4;
}

.rotate {
    transform: rotate(45deg);
}

.fond-ulti {
    position: absolute;
    width: calc(100% - 66.006px * 2);
    height: calc(100% - 66.006px * 2 - 144.254px);
    background-color: black;
    opacity: 0.25;
    transform: rotate(45deg);
    left: 66.006px;
    top: 66.006px;
}

.ulti {
    position: absolute;
    bottom: 78.248px;
    width: 100%;
}
